
h1{
    font-family: 'Open Sans', sans-serif;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 0px;
}

.input1{
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background-color: #ab98ec;
    color: white;
    
}


.input2{
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background-color: #d298d5;
    color: white;
    
}
button{
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 15px 20px;
    text-align: center;
    border: white;
    border: solid;
    background-color:rgba(0, 0, 0, 0);
    color: white;
}

#bolas{
display: flex;
position: absolute;
left: 50%;
transform: translate(-50%, -50%);

}

#btn1{
    border-radius: 200px;
    background-color: #947be7;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 60px;
    color: #cc8acf;
    font-size: 25px;
}

#btn2{
    border-radius: 200px;
    background-color: #cc8acf;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 60px;
    color: #947be7;
    font-size: 25px;
}

p{
    display: flex;
    justify-content: center;
    margin: 0px;
    font-size: 0.8em;
}

::placeholder {
    color: white;
    opacity: 0.6; 
  }

#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #947be7;
    height: 50vh;
}

#singup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #cc8acf;
    height: 50vh;
}

#inputs{
    display: flex;
    flex-direction: column;
}